/datasets/*
/processed_images/*
/input_videos/fake/*
/input_videos/real/*
/input_videos/fake_test
/input_videos/real_test
/ignore
/output_metrics
/saved_models/fine_tuned_xception.h5
!*.gitkeep
.DS_Store
.vscode/
.ipynb_checkpoints/
/__pycache__
/models/__pycache__